wp-includes/*
wp-admin/*
wp-content/*
!wp-content/plugins/

wp-content/plugins/buddypress/
wp-content/plugins/akismet/
wp-content/plugins/lifterlms/
wp-content/plugins/query-api/
wp-content/plugins/CDSWebinar.zip
wp-content/plugins/the-events-calendar
# ignore node dependency directories
node_modules/
