# Begin WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /CDSWebinar/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /CDSWebinar/index.php [L]
</IfModule>

# End WordPress